.vs/StoreWise/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
.vs/StoreWise/CopilotIndices/17.13.431.34963/CodeChunks.db
.vs/StoreWise/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
.vs/StoreWise/CopilotIndices/17.13.431.34963/SemanticSymbols.db
.vs/StoreWise/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
.vs/StoreWise/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
.vs/StoreWise/FileContentIndex/98dec756-46a8-4b6f-8715-a39e567e7d63.vsidx
.vs/StoreWise/FileContentIndex/9bd56440-c85c-438c-a0b4-30b9a1275a0f.vsidx
.vs/StoreWise/FileContentIndex/c104cbf8-2777-410e-9914-26556bd9563a.vsidx
.vs/StoreWise/FileContentIndex/c39b1ee1-2e18-4ed1-95b5-e20717b7187e.vsidx
.vs/StoreWise/FileContentIndex/d6682517-0f8d-4713-8586-29144033c137.vsidx
.vs/StoreWise/v17/.suo
.vs/StoreWise/v17/DocumentLayout.backup.json
.vs/StoreWise/v17/DocumentLayout.json
.vs/StoreWise/FileContentIndex/5a7d314b-63ea-49c7-a127-ee0c1b5c38cf.vsidx
.vs/StoreWise/FileContentIndex/0b9ad766-dbf2-4154-8bd0-8edb2f4e4ec4.vsidx
.vs/StoreWise/FileContentIndex/63313df0-aa6d-462b-9178-d753f6f6e4aa.vsidx
