.vs/StoreWise/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
.vs/StoreWise/CopilotIndices/17.13.431.34963/CodeChunks.db
.vs/StoreWise/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
.vs/StoreWise/CopilotIndices/17.13.431.34963/SemanticSymbols.db
.vs/StoreWise/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
.vs/StoreWise/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
.vs/StoreWise/FileContentIndex/98dec756-46a8-4b6f-8715-a39e567e7d63.vsidx
.vs/StoreWise/FileContentIndex/9bd56440-c85c-438c-a0b4-30b9a1275a0f.vsidx
.vs/StoreWise/FileContentIndex/c104cbf8-2777-410e-9914-26556bd9563a.vsidx
.vs/StoreWise/FileContentIndex/c39b1ee1-2e18-4ed1-95b5-e20717b7187e.vsidx
.vs/StoreWise/FileContentIndex/d6682517-0f8d-4713-8586-29144033c137.vsidx
.vs/StoreWise/v17/.suo
.vs/StoreWise/v17/DocumentLayout.backup.json
.vs/StoreWise/v17/DocumentLayout.json
.vs/StoreWise/FileContentIndex/5a7d314b-63ea-49c7-a127-ee0c1b5c38cf.vsidx
.vs/StoreWise/FileContentIndex/0b9ad766-dbf2-4154-8bd0-8edb2f4e4ec4.vsidx
.vs/StoreWise/FileContentIndex/63313df0-aa6d-462b-9178-d753f6f6e4aa.vsidx
.vs/StoreWise/FileContentIndex/17990961-38b6-49ed-82a2-42de7f814d85.vsidx
.vs/StoreWise/FileContentIndex/a317219d-456a-4f2f-a72e-058285c7d827.vsidx
.vs/StoreWise/FileContentIndex/baf3a098-965b-41b2-9879-324ee34e94b8.vsidx
.vs/StoreWise/v17/TestStore/0/000.testlog
.vs/StoreWise/v17/TestStore/0/testlog.manifest
.vs/StoreWise/FileContentIndex/42f26e40-dc0b-457e-8878-c71a4af0d5ff.vsidx
.vs/StoreWise/FileContentIndex/b65f4b89-617f-4d34-bfcb-7cd0c46197f5.vsidx
.vs/StoreWise/FileContentIndex/c95d09f2-39f6-4a0c-990e-19c269bd6a90.vsidx
.vs/StoreWise/FileContentIndex/cceff59c-0f77-49a4-a5f5-9f40edbad79f.vsidx
.vs/StoreWise/FileContentIndex/f4106c66-bae1-4e54-9c3f-addb65c9240c.vsidx
.vs/StoreWise/FileContentIndex/2864e048-d7d8-4fa7-8409-e6afcde270e7.vsidx
.vs/StoreWise/FileContentIndex/626b80db-ffeb-452b-8256-e8a67b6c2ed7.vsidx
.vs/StoreWise/FileContentIndex/79f2209a-c26b-4dde-8990-3750b51043ba.vsidx
.vs/StoreWise/FileContentIndex/80cdb38d-57c5-495d-bbe2-1767225c1a3d.vsidx
.vs/StoreWise/FileContentIndex/7ebf9da1-c7b0-4821-88d8-1000044de553.vsidx
.vs/StoreWise/FileContentIndex/f0337e24-c7c4-4613-b870-e1939d1f1352.vsidx
.vs/StoreWise/FileContentIndex/d967cd87-aadb-47d3-acc0-e692dc005cb0.vsidx
.vs/StoreWise/FileContentIndex/d39bca36-eb3b-4fa2-8f7d-f34704940e28.vsidx
.vs/StoreWise/FileContentIndex/8c99ab28-469e-4884-bbdc-5855a50a60ba.vsidx
.vs/StoreWise/FileContentIndex/33d3ca54-768c-4bcb-a511-44b0ba4c5f7e.vsidx
.vs/StoreWise/FileContentIndex/dc1b4280-a72c-4461-b302-c58ea8bc8daa.vsidx
.vs/StoreWise/FileContentIndex/b851f9cf-05ec-46c4-b915-390ad61d9e9a.vsidx
